AUTHOR_NAME=홍길동
DEPARTMENT=TE
EMPLOYEE_ID=001
DEFAULT_WORK_LOCATION=본사
BASE_OUTPUT_DIR=
HOLIDAY_API_KEY=

OUTLOOK_ENABLE=False
OUTLOOK_TO=recipient@example.com
OUTLOOK_CC=
OUTLOOK_SENDER=
OUTLOOK_SUBJECT=Daily Report_[[년]]년 [[월]]월 [[일]]일
OUTLOOK_BODY="안녕하십니까.\n금일([[년]]년 [[월]]월 [[일]]일) 일일 업무 보고 드립니다.\n\n주요 업무 내용은 아래 이미지와 같습니다.\n감사합니다."
